.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .title{
    background: var(--celeste);
    width: 100%;
    padding: 10px 0;
    margin: var(--w-margin) 0;
    color: #fff;
}

.container .title h1{
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
}

.features{
    width: auto;
    margin: 0 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features .feature{
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.feature:last-child{
    margin-right: 0;
}

.features .feature img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.features .feature .text{
    margin-top: 5px;
}

.features .feature .text h2{
    font-size: 1.1em;
    text-align: center;
}

.features .feature .text p{
    font-size: .9em;
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 1278px){
    .container .title{
        margin: calc(var(--w-margin) - 50px) 0;
    }
    .container .title h1{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 1023px) {
    .container .title{
        margin: calc(var(--w-margin) - 40px) 0;
    }

    .features{
        width: 80%;
        margin: 0 auto;
        justify-content: center;
    }
    .features .feature{
        width: 200px;
        height: 280px;
    }
    .features .feature img{
        width: 180px;
        height: 180px;
        border-radius: 15px;
    }
    .features .feature .text h2{
        font-size: 1.2em;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .features{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .container{
        width: 100%;
    }
    .container .title{
        font-size: .8em;
    }
    .features{
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px){
    .features{
        justify-content: space-around;
    }
    .features .feature{
        width: 190px;
    }
}

@media screen and (max-width: 440px){

    .features .feature{
        width: 120px;
        height: auto;
        margin-bottom: 14px;
    }
    .features .feature img{
        width: 100px;
        height: 100px;
        border-radius: 15px;
    }
    .container .title{
        margin: 20px 0;
    }
    .features .feature .text h2{
        font-size: 0.8em;
        text-align: center;
    }
    .features .feature .text p{
        font-size: 0.7em;
        text-align: center;
    }
}

@media screen and (max-width: 380px){
    .features .feature img{
        height: auto;
        border-radius: 10px;
    }
    
}