:root {
  --azul: #003262;
  --azul-claro: #dcebf981;
  --azul-claro2: #0165c3;
  --azul_t: #003362dd;
  --azul_f: #244e76;
  --celeste: #00b0da;
  --naranja: #fdb515;
  --ocre: #ddd5c7;
  --verde_claro: #b9d3b6;
  --cian: #00b3e9;
  --cian-oscuro: #313080;
  --magenta: #ee3c89;
  --magenta-oscuro: #250915;
  --amarillo: #fbee1d;
  --gris-fondo: #efe9ef;
  --negro: #282828;
  --rojo-error: #db4242;
  --azul_c: #7085a7ac;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: geometr415;
}

@font-face {
  font-family: geometr415;
  src: url(fuentes/GEOMETR415-BLK-BT-BLACK.TTF);
  font-style: normal;
  font-weight: normal;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  min-height: 100vh;
  background: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
