.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    width: 85%;
    margin: 0 auto;
}

@media screen and (max-width: 1278px){
    .container{
        width: 100%;
    }
}