.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background: var(--azul_t);
  color: #fff;
  width: 100%;
  height: 350px;
  padding: 20px 0;
  padding-top: 40px;
  margin-top: var(--w-margin);
}

@media screen and (max-width: 1278px){
  .container{
    margin-top: calc(var(--w-margin) - 50px);
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 1150px){
  .container{
    height: auto;
  }
}

@media screen and (max-width: 1023px) {
  .container{
      margin-top: calc(var(--w-margin) - 40px);
  }
}

@media screen and (max-width: 767px){
  .container{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 440px){
  .container{
    padding: 0 10px;
  }
}