.container{
    width: 95%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.container .title{
    background: var(--celeste);
    width: 100%;
    padding: 10px 0;
    margin: 50px 0;
    color: #fff;
}

.container .title h1{
    font-size: 2em;
    text-align: center;
}

.sponsorsCont{
    overflow: hidden;
    position: relative;
}

.sponsorsCont::after{
    content: "";
    background: linear-gradient(to left, rgba(238, 238, 238, 1) 0%, rgba(255,255,255,0) 100%);
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.sponsorsCont::before{
    content: "";
    background: linear-gradient(to right, rgba(238, 238, 238, 1) 0%, rgba(255,255,255,0) 100%);
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.sponsors{
    display: flex;
    align-items: center;
}

.sponsors .sponsor{
    margin-right: 40px;
    padding: 10px 0;
}

.container .sponsors .sponsor:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 767px){
    .container{
        width: 100%;
        min-height: auto;
    }

    .container .title{
        font-size: .7em;
    }

    .sponsorsCont::after{
        content: none;
    }

    .sponsorsCont::before{
        content: none;
    }

    .sponsors{
        width: 100vw;
        margin: 0 5px;
    }

    .sponsors .sponsor{
        margin-right: 20px;
        width: 160px;
    }
    
    .sponsors .sponsor img{
        width: 20vw;
    }
}