.header-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
