.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  border-left: 2px solid var(--cian-oscuro);
  margin-bottom: 10px;
}

.container div h2 {
  margin: 40px 0;
  color: var(--azul_t);
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    
  }

  .data{
    width: 100%;
  }

  .form {
    border-left: none;
    border-top: 2px solid var(--cian-oscuro);
    padding-top: 20px;
    width: 100%;
    margin-bottom: 30px;
  }
}
